<div class="row">
  <div class="col-lg mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Registrar Cuenta</h1>
        <form [formGroup]="form"  (Submit)="onSubmitAddUser(form.value)">
          <div class="from-group">
            <label for="email"> Email</label>
            <input type="email" 
            name="email" 
            formControlName="email"
            class="form-control"
            placeholder="Add email"
            >  
          </div>
          <div >
            <label for="password"> Contraseña</label>
            <input type="password"
            required 
            name="password"  
            formControlName="password" 
            class="form-control"
              placeholder="Add password"
              >
          </div>
          <div class="form-group" >
              <label for="confirmPassword"> Confirmar Contraseña</label>
              <input type="password"
              required 
              name="confirmPassword" 
              id="confirmPassword"
              formControlName="confirmPassword"
              class="form-control"
              placeholder="Confirm password"
              >
              
            </div>
            <div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password not macth </div>
          
          </form>       
</div>
 <div class="card mt-5">
    <div class="card-body">
      <h1 class="text-center">Registrar Administrador</h1>
      <form #adminForm="ngForm" (ngSubmit)="onSubmit(adminForm)"> 
          <div class="from-group">
              <label for="email"> Email</label>
              <input type="email" 
              name="email" 
              #name="ngModel"
              [(ngModel)]="adminService.selectedAdmin.email"
              class="form-control"
              placeholder="Add email"
              >  
            </div>
        <div class="form-group">
          <label for="nameCompany"> Name Company</label>
          <input 
          type="text" 
          class="form-control" 
          name="name" 
          #name="ngModel" 
          [(ngModel)]="adminService.selectedAdmin.name"
          placeholder="Add Product Name Company"
          >
        </div>
        <div class="form-group">
            <label for="Id company"> Id Company</label>
          <input
          type="text"
          class="form-control"
          name="id"
          #id=ngModel
          [(ngModel)] = "adminService.selectedAdmin.id"
          placeholder="Add id Company"
          >
        </div>
        <div class="form-group">
          <label for="logo Company"> Logo Company </label>
          <input
          type="text"
          class="form-control"
          name="logo"
          #logo="ngModel"
          [(ngModel)]= "adminService.selectedAdmin.logo"
          placeholder="Add logo"
          >
        </div>
        <div class="form-group">
            <label for="NamesAdmin"> Names Admin </label>
            <input
            type="text"
            class="form-control"
            name="names"
            #names="ngModel"
            [(ngModel)]="adminService.selectedAdmin.names"
            placeholder="Add names Admin"
            >
          </div>
          <div class="form-group">
              <label for="lastNamesAdmin"> Last Names Admin</label>
              <input
              type="text"
              class="form-control"
              name="lastNames"
              #lastNames="ngModel"
              [(ngModel)]="adminService.selectedAdmin.lastNames"
              placeholder="Add last names"
              >
            </div>
            <div class="form-group">
                <label for="dateofhire"> Date of hire </label>
                <input
                type="date"
                class="form-control"
                name="date"
                #date="ngModel"
                [(ngModel)]="adminService.selectedAdmin.date"
                placeholder="Add Date of hire"
                >
              </div>
          <div class="form-group">
            <button class="btn btn-primary" type="submit" (click)="onSubmitAddUser(form.value)" >
              <i class="fas fa-plus-circle"></i> Add account
            </button>
            <button class="btn btn-secondary ml-5" type="reset" (click)="resetForm(productForm)">
              <i class="fas fa-sync-alt"></i> Reset
            </button>
          </div>
      </form>
    </div>
  </div>