<div class="row">
  <div class="col-lg mx-auto mt-5">
    <div class="card">
      <div class="card-body">
        <h1 class="text-center">Login</h1>
        <form >
          <div class="from-group">
            <label for="email">email</label>
            <input type="email" name="email" id="email" class="form-control">
            <div class="from-group">
              <label for="password">Contraseña</label>
              <input type="password" name="password" id="password" class="form-control">
            </div>
            <div class="from-gruop justify-content-around ">
                <button class="btn btn-primary m-3 " type="submit">
                    <i class="fas fa-sign-in-alt"></i> Submit
                  </button>
              <button class="btn btn-secondary " type="reset" (click)="resetForm(productForm)">
                  <i class="fas fa-sync-alt"></i> Reset
                </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>