<div class="card mt-5">
    <div class="card-body">
      <h1 align="center">Aplicaciones y roles ingresados
        <button class="btn btn-primary ml-5" style="width: 10%"   [routerLink]="['/register-apps-roles']"><i class="fas fa-plus-square"  rout></i></button>
      </h1> 
      <table class="table table-sm table-hover mt-4">
        <tbody>
          <tr *ngFor="let appsRoles of appsRolesList " class="table-primary">
            <td>{{appsRoles.id}}</td>
            <td>{{appsRoles.name}}</td>
            <td>{{appsRoles.description}}</td>
            <td>{{appsRoles.rol}}</td>
            <td>
              <a class="btn btn-secondary text-white" (click)="onEdit(appsRoles)">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white ml-2" (click)="onDelete(appsRoles.$key)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>