<div class="card mt-5">
    <div class="card-body">
      <h1 align="center"> Registar clientes</h1>
      <form #clientsForm="ngForm" (ngSubmit)="onSubmit(clientsForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="clientService.selectedClient.$key">
        <div class="form-group">
          <label> Registrar ID </label>
          <input 
          type="text" 
          class="form-control" 
          name="id" 
          #id="ngModel" 
          [(ngModel)]="clientService.selectedClient.id"
          placeholder="Add id "
          >
        </div>
        <div class="form-group">
            <label> Registrar nombre </label>
            <input 
            type="text" 
            class="form-control" 
            name="name" 
            #id="ngModel" 
            [(ngModel)]="clientService.selectedClient.name"
            placeholder="Add nombre"
            >
          </div>
          <div class="form-group">
            <label> Registrar país </label>
            <input 
            type="text" 
            class="form-control" 
            name="country" 
            #id="ngModel" 
            [(ngModel)]="clientService.selectedClient.country"
            placeholder="Add country"
            >
          </div>
          <div class="form-group">
              <label> Registrar Contacto </label>
              <Button class="btn btn-success ml-5"><i class="fas fa-plus-square"  rout></i></Button>
              <input 
              type="text" 
              class="form-control mt-1" 
              name="contact" 
              #id="ngModel" 
              [(ngModel)]="clientService.selectedClient.contact"
              placeholder="Add contact"
              >
            </div>
          <div class="from-group">
            <button class="btn btn-primary mt-3 ml-2" type="submit">
              <i class="fas fa-plus-circle"></i> Add Employee
            </button>
            <button class="btn btn-secondary mt-3 ml-2" type="reset" (click)="resetForm(productForm)">
              <i class="fas fa-sync-alt"></i> Reset
            </button>
          </div>
      </form>
    </div>
  </div>