<div class="row">
    <div class="col-md-12 mx-auto mt-4">
        <div class="card">
            <div class="card-body">
        <h1 align="center">Puestos ingresados</h1> 
<table class="table table-hover table-sm mt-4">
    <tbody>
      <tr *ngFor="let admin of adminList" class="table-danger">
        <td scope="row">{{admin.name}}</td>
        <td scope="row">{{admin.id}}</td>
        <td>
          <a class="btn btn-secondary text-white ml-3"  (click)="onEdit(admin)">
            <i class="far fa-edit"></i>
          </a>
            <a class="btn btn-danger text-white ml-3" (click)="onDelete(admin.$key)">
              <i class="fas fa-trash-alt"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table> 
            </div>
          </div>
        </div>
      </div>