<div class="card mt-5">
  <div class="card-body">
    <h1 align="center">Puestos ingresados
      <button class="btn btn-danger ml-5" style="width: 10%"   [routerLink]="['/jobRegister']"><i class="fas fa-plus-square"  rout></i></button>
    </h1> 
    
    <div>
      
    </div>
    <table class="table table-sm table-hover mt-4">
      <tbody>
        <tr *ngFor="let admin of adminList " class="table-danger">
          <td>{{admin.name}}</td>
          <td>{{admin.id}}</td>
          <td>
            <a class="btn btn-secondary text-white" (click)="onEdit(product)">
              <i class="far fa-edit"></i>
            </a>
            <a class="btn btn-danger text-white" (click)="onDelete(admin.$key)">
              <i class="fas fa-trash-alt"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>