<div class = "jumbotron">
  <h1 class = "display-3"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> ¡Hola Mundo! </font> </font> </ h1>
  <p class = "lead"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Esta es una unidad de héroe simple, un componente de estilo jumbotron simple para llamar la atención extra al contenido o información destacados. </font> </font> </p>
  <hr class = "my-4">
  <p> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Utiliza clases de utilidad para tipografía y espaciado para espaciar el contenido dentro del contenedor más grande. </ font > </font> </p>
  <p class = "lead">
    <a class="btn btn-primary btn-lg" href="#" role="button"> <font style = "vertical-align: inherit;"> <font style = "vertical-align: inherit;"> Aprende más </font> </font> </a>
  </p>
</div>