<div class="card mt-5">
    <div class="card-body">
      <h1 align="center"> Registar puesto</h1>
      <form #jobForm="ngForm" (ngSubmit)="onSubmit(jobForm)">
        <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="jobService.selectedJob.$key">
        <div class="form-group">
          <input 
          type="text" 
          class="form-control" 
          name="id" 
          #id="ngModel" 
          [(ngModel)]="jobService.selectedJob.id"
          placeholder="Add id "
          >
        </div>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          name="name"
          #name=ngModel
          [(ngModel)] = "jobService.selectedJob.name"
          placeholder="Add name"
          >
        </div>
        <div class="form-group">
          <input
          type="text"
          class="form-control"
          name="description"
          #description="ngModel"
          [(ngModel)]= "jobService.selectedJob.description"
          placeholder="Add description"
          >
        </div>
          <div class="from-group">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-plus-circle"></i> add Product
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(productForm)">
              <i class="fas fa-sync-alt"></i> Reset
            </button>
          </div>
      </form>
    </div>
  </div>