<div class="card mt-5">
    <div class="card-body">
      <h1 align="center">Productos ingresados
        <button class="btn btn-warning ml-5" style="width: 10%"   [routerLink]="['/registerProduct']"><i class="fas fa-plus-square"  rout></i></button>
      </h1> 

      
     
      <table class="table table-sm table-hover mt-4">
        <tbody>
          <tr *ngFor="let job of jobList " class="table-danger">
            <td>{{job.id}}</td>
            <td>{{job.name}}</td>
            <td>
              <a class="btn btn-secondary text-white" (click)="onEdit(job)">
                <i class="far fa-edit"></i>
              </a>
              <a class="btn btn-danger text-white" (click)="onDelete(job.$key)">
                <i class="fas fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>